{% extends 'base/main.html' %}
{% load crispy_forms_tags %}
{% block content %}
<script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>

<div class="container mt-5">
  <div class="row">
    <div class="col-sm-8">

        <div class="header-bar">
    <div>
        <h3>Hello {{request.user|title}}</h3>
        <h5 style="margin:0">You have <i>{{count}}</i> incomplete Journal{{ count|pluralize:"s" }}</h5>
    </div>
<div class="float-sm-right">
    {% if request.user.is_authenticated %}
    <a href="{% url 'logout' %}">Logout</a> {% else %}
    <a href="{% url 'login' %}">Login</a> {% endif %}
</div>
</div>

        <!-- Hidden form. Form submits new item positions -->
        <form style="display: none;" id="reorderForm" method="post" action="{% url 'task-reorder' %}">
            {% csrf_token %}
            <input type="hidden" id="positionInput" name="position">
        </form>
        <div id="tasklist" class="task-items-wrapper">
    {% for task in tasks %}
    <div class="list-group task-wrapper" data-position="{{task.pk}}">
        <div class="list-group-item">
            {% if task.complete %}
            <div class="task-complete-icon"></div>
            <i><s><a href="{% url 'task-update' task.id %}">{{task}}</a></s></i> {% else %}
            <div class="task-incomplete-icon"></div>
            <a href="{% url 'task-update' task.id %}">{{task}}</a> {% endif %}
             <a class="float-sm-right" href="{% url 'task-delete' task.id %}">&#215;</a>
        </div>
    </div>
    {% empty %}
    <div style="text-align: center; padding-bottom: 10px; line-height: 1em;">
        <h6>No new journal is created.</h6>
        <h6>Create a <a style="text-decoration: none; color: #e53935;" href="{% url 'task-create' %}">New Journal</a> ! </h6>
    </div>
    {% endfor %}
</div>

    </div>
    <div class="col-sm-4">
       <div id="datepicker" class="container"></div>
         {% if tasks|length > 0 %}
    <a id="add-link" href="{% url 'task-create' %}">&#x2b; Add Journal</a>
    {% endif %}
<div id="search-add-wrapper">
    <form method="GET" style="display: flex;" id="postform">
        <input type='text' name='search-area' placeholder="Search Journal" value="{{search_input}}" class="form-control" onchange="postsearch" id = 'search-area'>
        <button class="btn btn-success" type="submit" value='Search'>Search</button>
    </form>

</div>
  </div>
  </div>
</div>

<script>
    var taskList = document.getElementById("tasklist");
    var reorderForm = document.getElementById("reorderForm");
    var positionInput = document.getElementById("positionInput");

    let sortable = Sortable.create(taskList, {
        handle: '.handle',
        ghostClass: 'dropArea',
        chosenClass: 'selectedTask',

    });

    function reordering() {
        const rows = document.getElementsByClassName("task-wrapper");
        let pos = [];
        for (let row of rows) {
            pos.push(row.dataset.position);
        }
        console.log(pos.join(","))
        positionInput.value = pos.join(',');
        reorderForm.submit();
    }

    document.ondrop = reordering
</script>
<script type="text/javascript">
<!--$("#datepicker").datepicker();-->

$("#datepicker").datepicker({
    dateFormat: 'yy-mm-dd',
    onSelect: function(dateText, inst) {
        var date = $(this).val();
        var time = $('#time').val();
        search_area = date;
        $("#search-area").val(search_area);
    }
});

function postsearch() {
        $.ajax({
            type: "POST",
            url: $('#postform').attr('search-area'),
            data: $('#postform').serialize()
        });
    };

</script>
{% endblock content %}